<h4>
  GENERATING ITEMS FOR
  <small>{{projectService.projectName}}</small>
</h4>

<button [ngClass]="{
 'start': started === false,
 'generating': started === true && this.finished === false
}" (click)="startGeneration()" *ngIf="started === false || this.finished === false">
  <span *ngIf="setup === false && started === false">
    SETUP
  </span>
  <span *ngIf="setup === true && started === false">
    START
  </span>
  <span *ngIf="started === true && this.finished === false">
    GENERATING #{{this.generating}}
  </span>
  <span *ngIf="started === true && this.finished === true">
    FINISHED
  </span>
</button>

<button class="save" *ngIf="started === true && this.finished === true" (click)="saveCollection()">
  <span>
    SAVE
  </span>
</button>


<div class="image">
  <span id="generated-image">
    YOUR GENERATED
    ITEMS WILL BE
    DISPLAYED HERE
  </span>
  <svg id="generated-image" version="1.1" width="300" height="300" shape-rendering="crispEdges"
    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg" #SVGElement>
  </svg>
  <canvas id="generated-image" height="300" width="300" #canvasElement></canvas>
</div>


<!-- <h6>
  <span *ngIf="started === false">
    START GENERATING...
  </span>
  <span *ngIf="started === true && this.finished === false">
    GENERATING #{{this.generating}}
  </span>
  <span *ngIf="started === true && this.finished === true">
    SAVE YOUR COLLECTION
  </span>
</h6> -->

<button class="back-project" (click)="backToProject()">
  <span>
    BACK TO PROJECT
  </span>
</button>
