@import '../../colors.scss';

:host {
    display:grid;
    align-self: start;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;
    align-content: center;
    input {
        display:grid;
        font-size:1rem;
        font-variant: small-caps;
        color: $white;
    }
    span.shift-up { // lol =D
        transform:rotate(180deg);
    }
    span {
        display:grid;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        text-align: center;
        small {
            font-size:0.75rem;
        }
        
        &.rarity {
            pointer-events: none;
            align-self: stretch;
            grid-template-rows: max-content 1fr;
        }
        button.toggle-rarity {
            pointer-events: all;
            border:10px solid $white;
            min-height:100%;
            span {
                pointer-events: none;
            }
        }
    }
}