@import '../colors.scss';
:host {
    display:grid;
    align-self: start;
    grid-auto-rows: min-content;
    grid-auto-columns: 1fr;

    h4 {
        display:grid;
        font-variant: all-small-caps;
        small {
            font-variant: small-caps;
            text-decoration:underline solid $primary;
        }
    }
}