<h4>
    CREATING
    <small>{{projectService.projectName}}</small>
</h4>

<button (click)="addLayers()">
    <span>
        ADD LAYERS
    </span>
</button>

<button>
    <span>
        EDIT LAYERS
    </span>
</button>

<button (click)="editProject()">
    <span>
        EDIT PROJECT
    </span>
</button>

<button>
    <span>
        EDIT METADATA
    </span>
</button>

<button>
    <span>
        GENERATE
    </span>
</button>

<button (click)="backToHome()">
    <span>
        BACK TO HOME
    </span>
</button>