<h4>
    CREATING
    <small>{{nameService.projectName}}</small>
</h4>

<button (click)="editProject()">
    <span>
        PROJECT SETTINGS
    </span>
</button>

<button (click)="addLayers()">
    <span>
        LAYER SETTINGS
    </span>
</button>

<button>
    <span>
        METADATA SETTINGS
    </span>
</button>

<button>
    <span>
        GENERATION SETTINGS
    </span>
</button>

<button class="generate">
    <span>
        GENERATE
    </span>
</button>

<button class="back-home" (click)="backToHome()">
    <span>
        BACK TO HOME
    </span>
</button>