:host {
    display:grid;
    align-self: start;
    grid-auto-rows: min-content;
    grid-auto-columns: 1fr;
    row-gap:10px;
    h4 {
        display:grid;
        small {
            font-variant: small-caps;
        }
    }
}