
<h4>
    LAYERS FOR
    <small>{{nameService.projectName}}</small>
</h4>

<button class="add-layers" (click)="addLayer()">
    <span>
        + <small>ADD LAYER</small>
    </span>
</button>

<ng-container *ngFor="let layerItem of layersService.projectLayers; let index = index">
    <app-layer-item [index]="index" [data]="layerItem" [@fadeAnimations]></app-layer-item>
</ng-container>

<button  class="back-project" (click)="backToProject()">
    <span>
        BACK TO PROJECT
    </span>
</button>