@import '../../colors.scss';

:host {
    display:grid;
    align-self: start;
    grid-auto-rows: 1fr;
    grid-template-columns: 0.2fr 0.75fr 0.05fr;
    grid-auto-flow: column;
    align-items: center;
    align-content: center;
    row-gap:10px;
    input {
        display:grid;
        font-size:1rem;
        font-variant: small-caps;
        color: $white;
    }
    h6 {
        font-size:0.75rem;
    }
    &:nth-of-type(even) {
        background:$white;
        color:$black;
        input {
            color:$black;
            &::selection {
                background:$black;
                color:$white;
            }
        }
    }
}