$white: #FFF;
$whiteT: #FFFFFF88;
$black: #000;
$primary: #02eeee;
$secondary: #dbf308;
$tertiary: #c552c1;
$quadriary: #12d122;

$blue: #3a58af;
$green: #38a742;
$red: #FF0000;
$orange: #ff7300;
$yellow: #ffbb00;
$lightyellow: #e2d521;

$color1: #38a742;
$color2: #dbf308;
$color3: rgb(117, 64, 124);
$color4: #02eeee;
$color5: #3a58af;
$color6: #c552c1;
