
    <figure class="image is-100x100">
        <img *ngIf="this.data.type !== 'image/svg+xml'"[src]="this.data.thumbnail" />
        <svg #SVGVariationElement *ngIf="this.data.type === 'image/svg+xml'">
            {{this.data.thumbnail}}
        </svg>
    </figure>

<input #nameInputElement placeholder="Layer Variation Name" [value]="this.data.name" (change)="saveName()" />

<input #rarityInputElement placeholder="Layer Rarity" [value]="this.data.rarity" (change)="saveRarity()" />

<button class="change-file" (click)="fileUpload.click()">
    <span>
        <small>CHANGE FILE</small>
    </span>
    <input type="file" class="file-input"
    (change)="editVariationFile($event)" #fileUpload />
</button>

<input [value]="this.data.size + ' bytes'" [disabled]="true" />

<input [value]="this.data.type" [disabled]="true" />

<!-- PICK COLORS -->

<button class="remove"  (click)="remove()">
    <span>
        <small>DELETE VARIATION</small> x
    </span>
</button>