
<h4>
    VARIATIONS FOR
    <small>{{layersService.projectLayers[this.layerIndex]?.name}}</small>
</h4>

<button class="add-variations" (click)="fileUpload.click()">
    <span>
        + <small>ADD VARIATION</small>
    </span>
    <input type="file" class="file-input"
    (change)="uploadVariationFile($event)" #fileUpload />
</button>

<ng-container *ngFor="let itemVariation of layersService.projectLayers[this.layerIndex]?.variations; let index = index">
    <app-item-variation [layerIndex]="this.layerIndex" [index]="index" [data]="itemVariation" [@fadeAnimations]></app-item-variation>
</ng-container>

<button class="back-layers" (click)="backToLayers()">
    <span>
        BACK TO LAYERS
    </span>
</button>

<button class="back-project" (click)="backToProject()">
    <span>
        BACK TO PROJECT
    </span>
</button>